/* Styles for larger view */
header h1 {
    font-size: 2.5rem;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
    font-size: 1.5rem;
}

.hamburger-menu {
    display: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}

.gallery figure {
    width: 100%;
    max-width: 600px;
}

figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

footer {
    font-size: 1.2rem;
    background-color: #5c5cff;
    padding: 1rem 2rem;
}
